NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=
NEXT_PUBLIC_PERKS_TOKEN_MINT_ADDRESS=
NEXT_PUBLIC_PERKS_TOKEN_THRESHOLD=25
NEXT_PUBLIC_PERKS_TOKEN_SYMBOL=STREAK
NEXT_PUBLIC_PERKS_TOKEN_PROGRAM_ID=TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA
